<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Models</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/varela-font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toastr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/model_app.js') }}"></script>
</head>

{% raw %}
<body ng-controller="ModelController">
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <b>Models</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addModelModal" class="btn btn-success" data-toggle="modal"><i
                                class="material-icons">&#xE147;</i> <span>Add new Model</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>

                        <th>Name</th>
                        <th>Brand</th>
                        <th>Actions</th>
                    </tr>
                   
                </thead>
                <tbody id="brands-table">
                    <tr ng-repeat="model in models track by model.carId">
                    
                        <td>{{ model.name    }}</td>
                        <td>{{ model.brand.name }}</td>
                    
                        <td>
                            <a href="#editModelModal_{{model.carId}}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                                    title="Edit">&#xE254;</i></a>
                            <a href="#deleteModelModal_{{model.carId}}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                                    title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>

    <div ng-repeat="model in models track by model.carId">
        <div id="editModelModal_{{model.carId}}" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Model</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" required value="{{model.name}}" ng-model="model.name">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-info" value="Save" ng-click="saveModelInfo(model)" data-dismiss="modal">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="deleteModelModal_{{model.carId}}" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h4 class="modal-title">Delete Model</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this record?</p>
                            <p class="text-warning"><small>This action cannot be undone.</small></p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-danger" value="Delete" ng-click="deleteModel(model)" data-dismiss="modal" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    </tr>
    <!-- Edit Modal HTML -->
    <div id="addModelModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Add Model</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>  
                            <input type="text" class="form-control" required ng-model="newModel.name">
                        </div> 
                        <div class="form-group"> 
                            <label>Brand</label>
                            <select 
                                class="form-control"
                                ng-model="newModel.brand" 
                                ng-options="brand.brandId as brand.name for brand in brands"
                            >
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Add" ng-click="createModel()" data-dismiss="modal">
                    </div>
                </form>
            </div>
        </div>
    </div> 
    <!-- Edit Modal HTML -->
    <!-- <div id="editBrandModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Brand</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <!-- Delete Modal HTML -->

</body>
{% endraw %}

</html>